<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1">
  <test name="Service">
    <classes>
       <class name="ServicesTest" />
    </classes>
  </test>
    <test name="FirstTest">
    <classes>
       <class name="TestOne" />
    </classes>
  </test>
</suite> 